config CROSS_COMPILER
	string "Cross compiler prefix"
	default "avr-"

choice
	prompt "Processor core type"

	config ARDUINO_UNO
	bool "Arduino Uno"

	config ARDUINO_NANO
	bool "Arduino Nano"

	config ARDUINO_PROMINI_16
	bool "Arduino Pro Mini 5V/16MHz"

	config ARDUINO_PROMINI_8
	bool "Arduino Pro Mini 3.3V/8MHz"

	config ARDUINO_LEONARDO
	bool "Arduino Leonardo (not supported yet)"
endchoice

config CFLAGS
        string
	default "-mmcu=atmega328p -DF_CPU=16000000" if ARDUINO_UNO
	default "-mmcu=atmega328p -DF_CPU=16000000" if ARDUINO_NANO
	default "-mmcu=atmega328p -DF_CPU=16000000" if ARDUINO_PROMINI_16
	default "-mmcu=atmega328p -DF_CPU=8000000" if ARDUINO_PROMINI_8

config NETWORKING
	bool "Networking"
	help
	 Enable support for networking devices.

choice
	prompt "Network interface" if NETWORKING
	help
	 Select the network interface to use.

	config NETWORKING_SLIP
		bool "SLIP"
		help
		 Plain Serial Line Internet Protocol over hardware serial line.

	config NETWORKING_ENC28J60
		bool "Microchip ENC28J60"

	config NETWORKING_W5x00
		bool "Wiznet W5100/W5200"

endchoice
